= simple_form_for(@history) do |f|
  = f.error_notification

  .form-inputs
    = f.association :student
    = f.association :testings
    = f.association :answer
    = f.input :action

  .form-actions
    = f.button :submit
