= simple_form_for([:master, @question]) do |f|
  = f.error_notification

  .form-inputs
    = f.association :testing
    = f.input :content, input_html: { rows: 5 }


    = f.input :image, as: :file
    
    - if @question.image
      %img.img-thumbnail.img-responsive{ src: @question.image.url(:thumb) }
    
    
    %hr

    %table.table.table-bordered.table-striped.table-hover{ style: 'width: 100%' }
      %thead
        %tr
          %th Ответ
          %th Правильный?
      %tbody
        - @question.answers.each do |answer|
          = hidden_field_tag("question[answers][][id]", answer.id)
          %tr
            %td{ style: 'width: 80%; padding: 10px' }
              = text_area_tag("question[answers][][content]", answer.content, class: 'form-control')
              
              %br
              
              = file_field_tag("question[answers][][image]")
              - if !answer.image.nil? && answer.image.url != nil
                %br
                %img.img-thumbnail.img-responsive{ src: answer.image.url(:thumb) }
                
              
              
            %td
              = check_box_tag("question[answers][][correct]", 1, answer.correct)

  .form-actions
    = link_to "Назад", :back, :class => 'btn btn-default'
    = f.button :submit, :class => 'btn-success'
