= simple_form_for([:master, @question]) do |f|
  = f.error_notification

  .form-inputs
    = f.association :testing
    = f.input :content
    = f.input :timeout
    = f.input :mark

  .form-actions
    = f.button :submit
