.page-header
  %h1= @question.testing.title

%p#notice= notice

%blockquote
  %p
    = @question.content

%form
  - @question.answers.each do |answer|
    - if answer.content.to_s != ''
      .checkbox
        %label
          %input{ type: :checkbox }
          - if answer.correct
            %p.text-success= answer.content
          - else
            %s= answer.content

%hr

= link_to 'Назад', :back, class: 'btn btn-default'