-#
  Форма для создания / редактирование объекта модели Testing. 
  Для простоты работы с HTML формами используется gem SimpleForm.
  
= simple_form_for([:master, @testing]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :timeout
    = f.input :random_questions
    = f.input :random_answers

  .form-actions
    = f.button :submit
