-# 
  Страница со списком тестов. Отрисовывает объект @testings, который 
  представляет собой список объектов Testing. 
  
  @testings это НЕ массив! Это объект класса Testing::ActiveRecord_Relation,
  который по сути является описанием запроса в базу данных. Сам запрос 
  выполняется только в том случае, когда понадобятся его результаты. Поэтому 
  в нашем случае запрос в базу данных будет выполнен только в момент отрисовки
  представления (view), а не в контроллере. 

.page-header
  %h1 Список тестов

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .pull-right
          = link_to new_master_testing_path, class: 'btn btn-success btn-sm' do
            %i.fa.fa-plus
            Добавить тест
        


%table.table
  %thead
    %tr
      %th Заголовок
      %th Описание
      %th Время, мин
      %th
      %th

  %tbody
    - @testings.each do |testing|
      %tr
        %td
          = link_to questions_master_testing_path(testing) do
            = testing.title
        %td
          = testing.description
        %td
          = testing.timeout
        %td
          = link_to edit_master_testing_path(testing), class: 'btn btn-success btn-xs' do
            %i.fa.fa-pencil
            Редактировать
        %td
          = link_to [:master, testing], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
            %i.fa.fa-trash
            Удалить

