.page-header
  %h1 Список тестов

= link_to new_master_testing_path, class: 'btn btn-success btn-xs' do
  Добавить тест

%table.table
  %thead
    %tr
      %th Заголовок
      %th Описание
      %th
      %th

  %tbody
    - @testings.each do |testing|
      %tr
        %td
          = link_to edit_master_testing_path(testing) do
            %i.fa.fa-pencil
            = testing.title
        %td
          = testing.description
        %td
          = link_to questions_master_testing_path(testing), class: 'btn btn-success btn-xs' do
            %i.fa.fa-question-circle
            Вопросы
        %td
          = link_to [:master, testing], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-primary btn-xs' do
            %i.fa.fa-trash
            Удалить

