.page-header
  %h1 
    Вопросы к тесту: 
    = @testing.title
    
= link_to new_master_question_path(testing_id: @testing.id), class: 'btn btn-xs btn-primary' do
  %i.fa.fa-plus
  Добавить вопрос
    
%table.table
  %thead
    %tr
      %th Вопрос
      %th Оценка
      %th Время на ответ
      %th
      %th

  %tbody
    - @testing.questions.each do |question|
      %tr
        %td
          = link_to edit_master_question_path(question) do
            %i.fa.fa-pencil
            = question.content
        %td= question.mark
        %td= question.timeout
        %td
          = link_to master_question_path(question), class: 'btn btn-xs btn-warning', target: '_blank' do
            %i.fa.fa-eye
            Предпросмотр
        %td
          = link_to [:master, question], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
            %i.fa.fa-trash
            Удалить