- delta = (@test_suite.started_at + @testing.timeout.minutes - Time.now).to_i 

:javascript
  $(function() {
    startTimer(#{delta}, document.querySelector('#timer'));
  });

.page-header
  %h1= cookies['title']
  %span.label.label-default.pull-right{ style: 'font-family: Monospace' }
    = "#{@idx} из #{@questions.size}"
    
  %span.label.label-default.pull-left
    %b Осталось:
    #timer{ style: 'font-family: Monospace' }

  
.row
  .col-xs-12
    %blockquote
      %p
        = @question.content

    %form{ method: :get, action: testing_path(:answer) }
      - answers = @question.answers.to_a
      - answers.shuffle! if @testing.random_answers?
      - answers.each do |answer|
        - if answer.content.to_s != ''
          .checkbox
            %label
              %input{ type: :checkbox, name: "answers[]", value: answer.id }
              %p= answer.content

      %button.btn.btn-success{ type: :submit } 
        Ответить

      %a.btn.btn-danger.pull-right{ href: testing_path(:finish), :data => { :confirm => 'Are you sure?' } }
        Завершить тест

      %a.btn.btn-warning.pull-right{ href: testing_path(:skip_question), style: 'margin-right: 10px' }
        Пропустить вопрос