.page-header
  %h1= cookies['title']
  %span.label.label-default.pull-right
    = "#{@idx} из #{@questions.size}"
  
.row
  .col-xs-12
    %blockquote
      %p
        = @question.content

    %form{ method: :get, action: testing_path(:answer) }
      - @question.answers.shuffle.each do |answer|
        - if answer.content.to_s != ''
          .checkbox
            %label
              %input{ type: :checkbox, name: "answers[]", value: answer.id }
              %p= answer.content

      %button.btn.btn-success{ type: :submit } 
        Ответить


      %a.btn.btn-danger.pull-right{ href: testing_path(:finish), :data => { :confirm => 'Are you sure?' } }
        Завершить тест

      %a.btn.btn-warning.pull-right{ href: testing_path(:skip_question), style: 'margin-right: 10px' }
        Пропустить вопрос