.row
  .col-xs-12
    = simple_form_for [:master, @student] do |f|
      .panel.panel-success
        .panel-heading
          - if @student.id
            Редактирование студента
          - else
            Новый студент
        .panel-body
          - if @student.errors.any?
            #error_explanation
              %h2= "#{pluralize(@student.errors.count, "error")} prohibited this group from being saved:"
              %ul
                - @student.errors.full_messages.each do |msg|
                  %li= msg

          = f.input :surname
          = f.input :name
          = f.input :patronymic
          = f.association :group, collection: Group.all.order(:name), prompt: 'Выберите группу'
        .panel-footer
          = f.button :submit
