%h1 Listing students

%table
  %thead
    %tr
      %th Surname
      %th Name
      %th Patronymic
      %th Group
      %th
      %th
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td= student.surname
        %td= student.name
        %td= student.patronymic
        %td= student.group_id
        %td= link_to 'Show', [:master, student]
        %td= link_to 'Edit', edit_master_student_path(student)
        %td= link_to 'Destroy', [:master, student], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Student', new_master_student_path
