.page-header
  %h1 Список групп

= link_to new_master_group_path, class: 'btn btn-xs btn-success' do
  Добавить группу

%table.table
  %thead
    %tr
      %th Номер группы
      %th Количество студентов
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= group.students.size
        %td= link_to 'Редактировать', edit_master_group_path(group), class: 'btn btn-success btn-xs'
        %td= link_to 'Удалить', [:master, group], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-primary btn-xs'
